absl-py==2.0.0
appdirs==1.4.4
astunparse==1.6.3
attrs==23.2.0
beautifulsoup4==4.12.2
blinker==1.7.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
cmdstanpy==1.2.0
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.8
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-leaflet==1.0.15
dash-table==5.0.0
Flask==3.0.0
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.47.2
frozendict==2.4.0
gast==0.5.4
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.60.0
h11==0.14.0
h5py==3.10.0
holidays==0.40
html5lib==1.1
idna==3.4
importlib-resources==6.1.1
importlib_metadata==8.5.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
keras==2.15.0
kiwisolver==1.4.5
libclang==16.0.6
lxml==5.1.0
Markdown==3.5.2
MarkupSafe==2.1.3
matplotlib==3.8.2
ml-dtypes==0.2.0
more-itertools==10.2.0
mpld3==0.5.10
multitasking==0.0.11
nest-asyncio==1.6.0
numpy==1.26.3
oauthlib==3.2.2
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4
pandas-datareader==0.10.0
patsy==0.5.6
peewee==3.17.0
pillow==10.2.0
plotly==5.18.0
pmdarima==2.0.4
polyline==2.0.2
prophet==1.1.5
protobuf==4.23.4
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyfinance==1.3.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
Quandl==3.7.0
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.1
selenium==4.17.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
stanio==0.3.0
statsmodels==0.14.1
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.2.0
tqdm==4.66.1
trio==0.24.0
trio-websocket==0.11.1
tweepy==4.9.0
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.0.4
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.14.1
wsproto==1.2.0
xlrd==2.0.1
xmltodict==0.13.0
yfinance==0.2.35
zipp==3.21.0
